/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* cool highlighting taken from max hoffmann: https://max.hn/thoughts/how-to-create-a-highlighter-marker-effect-in-css */
    mark {
        margin: 0 -0.4em;
        padding: 0.1em 0.4em;
        border-radius: 0.8em 0.3em;
        background: transparent;
        background-image: linear-gradient(
          to right,
          rgba(255, 225, 0, 0.1),
          rgba(255, 225, 0, 0.7) 4%,
          rgba(255, 225, 0, 0.3)
        );
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; 
    }
}